# gOS GRUB2 Configuration
# Reference: https://wiki.osdev.org/GRUB_2

menuentry "gOS" {
    multiboot2 /boot/kernel.elf
    boot
}

menuentry "gOS (Debug)" {
    multiboot2 /boot/kernel.elf debug=1
    boot
}

menuentry "gOS (Verbose)" {
    multiboot2 /boot/kernel.elf verbose=1
    boot
}
